*{
	padding: 0;
	margin: 0;
	border: 0;
}
#container{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	background: #E9EDC9;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #A3B18A;
	font-family: verdana;
	font-size: 20px;
	padding: 5px 15px;
	font-weight: bold;
}
nav a{
	text-decoration: none;
}
a:link{
	color: #1E4523;
}
a:visited{
	color: #237A2B;
}
a:hover{
	color: #2C6132;
}
h1{
	font-size:35px;
	background: #a3b18a;
	padding: 15px;
	text-align: center;
	margin: 20px;
	border: 5px solid #697A62;
	border-radius: 8px;
	color: white;
	font-family: verdana;
	text-shadow: 2px 2px 5px green;
}
@keyframes zagolovok{
	0% { color: #007f5f; }
	100% { color: white;  }
}
h1{
	animation-name: zagolovok;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
}
h1::before{
	content: "🐒";
}
h1::after{
	content: "🐒";
}
footer{
	background: #A3B18A;
	font-size: 17px;
	font-family: verdana;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

#grid-pravila{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 50px;
}
@keyframes week{
	0%   { transform: rotate(5deg) }
	100% { transform: rotate(-5deg) }
}
.day{
	border: 2px solid #ccd5ae;
	border-radius: 5px;
	transform: rotate(2deg);
	padding: 10px;
	background: #ccd5ae;
	text-align: center;
	margin: 70px;
}
.name::before, .name::after{
	content: "📌";
}
 .day:hover{
	animation-name: week;
	animation-duration: 1s;
 animation-direction: alternate;
 animation-iteration-count: 2}

.name{
	font-family: verdana;
	font-size: 17px;
	color: #588157;
	text-align: center;
	font-weight: 600;
}

.day p{
	font-family: verdana;
	background: white;
	font-size: 16px;
	color: black;	
	padding: 30px;	
}

#burger, #mobile_menu{
	display: none;
}
#burger{
	color: white;
	font-size: 50px;
}
#mobile_menu{
	background: #A3B18A;
	flex-direction: column;
	align-items: center;
	font-family: verdana;
	font-size: 20px;
	font-weight: bold;
}
#mobile_menu a{
	text-decoration: none;
}
#mobile_nav{background: #6B8E6B;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	display: none;
}

@media screen and (max-width: 480px){
		#burger{
	display: block;
}
	#mobile_nav {
		display: flex;
	}
	nav{
		display: none;
	}
	h1{
		font-size: 20px;
	}
	#container{
		max-width: 480px;
	}
	#grid-pravila{
		grid-template-columns: 1fr;
}
.name{
	font-size:15px;
}
.day p{
	font-size: 14px;
}
footer{
		flex-direction: column;
		align-items: flex-start;
		font-size: 14px;
}
	.day{
	margin: 15px;}
}
@media screen and (min-width: 481px){
	nav{
		display: flex;
	}
	#burger{
	display: none;
}
	#mobile_nav {
		display: none;
	}
	#mobile_menu{
		display: none !important;
	}
}