<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Добавить обезьяну</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
             <input type="number" name="article_id" placeholder="ID породы">
             <input type="text" name="name" placeholder="Имя"><br>
            <input type="file" name="image"><br>  
            <textarea name="description" placeholder="Описание"></textarea>
            <input type="submit" value="Добавить особь">
        </form>
    </body>
</html>