<!DOCTYPE html>
<html>
<head>
    <title>Добавление статьи</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Добавление статьи</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="name" class="form-control" placeholder="Имя"><br>
            <input type="file" name="image" class="form-control"><br>  
            <textarea name="habitat" class="form-control" placeholder="Ареал обитания"></textarea><br>
            <textarea name="appearance" class="form-control" placeholder="Внешность"></textarea><br>
           <textarea name="food" class="form-control" placeholder="Питание"></textarea><br>
            <textarea name="lifestyle" class="form-control" placeholder="Образ жизни"></textarea><br>
           
            <input type="submit" value="Отправить">
        </form>
    </div>
</body>
</html>