<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Главная</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" type="text/css">
</head>

<body>
	<div id="container">

		<div id="mobile_nav">
			<div id="burger">☰</div>
			<a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
		</div>
		<div id="mobile_menu">
			<a href="{{ url_for('main') }}">ГЛАВНАЯ</a>
			<a href="{{ url_for('pravila') }}">ПРАВИЛА</a>
			<a href="{{ url_for('bilet') }}">БИЛЕТЫ</a>
			<a href="{{ url_for('podopechnye') }}">ПОДОПЕЧНЫЕ</a>
		</div>
		<script src="{{ url_for('static', filename='js/burger.js') }}"></script>
		<nav>
			<a href="http://127.0.0.1:5000/main"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
			<a href="{{ url_for('main') }}">ГЛАВНАЯ</a>
			<a href="{{ url_for('pravila') }}">ПРАВИЛА</a>
			<a href="{{ url_for('bilet') }}">БИЛЕТЫ</a>
			<a href="{{ url_for('podopechnye') }}">ПОДОПЕЧНЫЕ</a>
		</nav>
		<h1>Обезьяний питомник PRIMA-PARK</h1>
		<div id="fact">
			<div id="fact-content">
			</div>
			<button id="new-fact">Новый факт</button>
		</div>

		<main>
			<h2>О нас</h2>
			<div id="onas">
				<p>Добро пожаловать в обезьяний питомник Prima-park - место, где можно ближе познакомиться с
					удивительным миром приматов!
					<br>В нашем питомнике живут шимпанзе, колобусы, японские макаки, гиббоны, капуцины и редкие
					чернолобые прыгуны.
					Для каждого вида созданы комфортные условия, приближенные к естественной среде обитания.
					<br>Помимо знакомства с нашими подопечными, посетителей ждут интересные мероприятия: ежедневные
					экскурсии с рассказами о жизни приматов,
					показательные кормления. На территории питомника регулярно проходят интерактивные встречи, где гости
					могут узнать о привычках обезьян,
					их интеллекте и особенностях поведения.<br>
					На нашем сайте вы сможете забронировать билеты, ознакомиться с правилами посещения и подробнее
					изучить каждого обитателя питомника в
					специальных информационных карточках.
				</p>
			</div>
			<div id="about">
				<div id="map">
					<h3>Наша карта</h3><img src="{{ url_for('static', filename='images/map.png') }}"
						alt="Карта питомника">
				</div>
				<div id="gallery">
					<h3>Фотогалерея</h3>
					<img src="{{ url_for('static', filename='images/1.jpg') }}" alt="">
					<img src="{{ url_for('static', filename='images/2.jpg') }}" alt="">
					<img src="{{ url_for('static', filename='images/3.jpg') }}" alt="">
					<img src="{{ url_for('static', filename='images/4.jpg') }}" alt="">
					<img src="{{ url_for('static', filename='images/5.png') }}" alt="">
					<img src="{{ url_for('static', filename='images/6.webp') }}" alt="">
				</div>
			</div>
		</main>

		<footer>
			<p>Prima-Park: &copy 2026</p>
			<p>Контакты<br>
				Адрес: Улица Питомичная, д.20<br>
				Телефон: 8(921)821-88-88<br>
				Email: prima-park@mail.ru</p>
			<p>Режим работы:<br>
				Работаем ежедневно с 10:00-22:00</p>
		</footer>
	</div>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>